@model Firma.Data.Data.Shop.Cart

@{
    ViewData["Title"] = "Usuń pozycję z koszyka";
}


<h3 class="text-danger">Czy na pewno chcesz usunąć tę pozycję z koszyka?</h3>
<div>
    <h4>Szczegóły pozycji</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Użytkownik
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.User.Name) (@Html.DisplayFor(model => model.User.Email))
        </dd>
        <dt class="col-sm-3">
            Produkt
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCart" />
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Usuń
        </button> |
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Anuluj
        </a>
    </form>
</div>